body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    font-family: "Volkorn", Georgia, Serif;
    background-color: #325573;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 60;
    height: 100vh;
    width: 100vw;
    color: #325573;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    display: block;
  }
  
  /* GRID GERAL */
  
  .estrutura {
    display: grid;
    /* Minmax é para definir o mínimo que quero dela, a última eu quero 300px fixo sempre. */
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
      "header header header"
      "sidenav content anuncios"
      "footer footer footer"
    ;
    
  }
  
  @media (max-width: 1200px) {
    .estrutura {
      grid-template-areas:
        "header header header"
        "sidenav content content"
        "sidenav anuncios anuncios"
        "footer footer footer"
      ;
    }
  }
  
  @media (max-width: 760px) {
    .estrutura {
      grid-template-columns: 100%; /* 1fr está bugando */
      grid-template-areas:
        "header"
        "sidenav"
        "content"
        "anuncios"
        "footer"
      ;
    }
  }
  
  /* HEADER */
  
  .header {
    grid-area: header;
    background: linear-gradient(135deg, #F2911B, #325573);
    padding: 30px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    border: 3px solid #fdfdfd;
    /*definindo cor da borda*/
    border-radius: 10px;
 
  }




  
  .logo {
    max-width: 100px;
  }
  
  .header nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  


    /*Botão login/menu*/
    button {
      position: absolute;
      transform: translate(-50%, -50%);
      padding: 15px 43px;
      font-size: 20px;
      background: transparent;
      border: 2px solid #eef21b;
      color: #eef21b;
      cursor: pointer;
      border-radius: 10px;
      margin: 30px;
      margin-right: 50px;
      display: block;
      padding: 15px;
      font-size: 1.125em;
      transition: 0.2s;
  }

  button:hover {
      BOX-shadow: 0 0 15px #eef21b, inset 0 0 15px #eef21b;
      text-shadow: 0 0 15px #eef21b;
  }
  /*Botão cabealho que no caso não consta na tela*/
  .header nav a {
    display: block;
    padding: 10px;
    font-size: 1.125em;
    background: transparent;
    border: 2px solid #eef21b;
    color: #eef21b;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    margin: 20px;
  }
  
  .header nav a:hover {
    BOX-shadow: 0 0 15px #eef21b, inset 0 0 15px #eef21b;
    text-shadow: 0 0 15px #eef21b;
  }
  
  .header li + li {
    margin-left: 30px;
  }
  
  @media (max-width: 760px) {
    .header {
      grid-template-columns: auto;
    }
    .logo {
      margin-bottom: 20px;
      margin-left: 20px;
    }
    .header nav a {
      font-size: 1em;
    }
    .header li + li {
      margin-left: 10px;
    }
  }
  
  /* SIDENAV */
  
  .sidenav {
    grid-area: sidenav;
    background: #325573;
    padding: 30px;
  }
  
  .sidenav-item a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #7c6d5b;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    border-radius: 5px;
    padding: 20px;
    transition: .1s ease-out;
  }
  
  .sidenav-item a:hover {
    background:#F2911B;
  }
  
  @keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }
  
  @media (max-width: 760px) {
    .sidenav {
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .sidenav::after {
      content: '→';
      position: absolute;
      top: 5px;
      right: 30px;
      color: rgba(0,0,0,.3);
      animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul {
      display: flex;
      flex-wrap: nowrap;
    }
    .sidenav-item {
      flex: 1 0 60px;
    }
    .sidenav {
      padding: 0 30px;
    }
    .sidenav-item a {
      margin: 30px 30px 30px 0px;
    }
  }
  
  /* CONTENT */
  
  .content {
    grid-area: content;
    margin: 0 auto;
  }
  
  /* ANUNCIOS */
  
  .anuncios {
    grid-area: anuncios;
    background: #325573;
    display: grid;
    padding: 30px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-content: start;
    justify-content: space-around;
  }
  
  /* FOOTER */
  
  .footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
  }
  
  /* GRID DO CONTENT */
  
  .content {
    display: grid;
    max-width: 900px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
  }
  
  @media (max-width: 600px) {
    .content {
      grid-template-columns: auto;
    }
  }
  
  .col-wide {
    /* A coluna vai do 1 até o último, por isso -1, assim pega todas as colunas */
    grid-column: 1 / -1;
  }
  
  .imagem-1 {
    /* span 2 significa que ess imagem vai ocupar 2 linhas e será alinhada ao final dela sempre. */
    grid-row: span 2;
    align-self: end;
  }
  
  .imagem-3 {
    margin-bottom: 450px;
  }
  
  /* ESTILOS DO CONTENT */
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -.005em;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .informacoes p + p {
    margin-top: 30px;
  }
  
  /* TITULO */
  
  .titulo {
  color: rgba(251, 255, 0, 0.911);
  margin: 20px;
  padding-left: 340px;
  text-shadow: 0 0 15px #eef21b;
  
  }
  
  .titulo h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1;
  }
  
  .titulo span {
    font-size: 0.875em;
    font-style: italic;
    color: #bbb3c7;
  }
  
  /* CARACTERISTICAS */
  
  .caracteristicas {
    display: flex;
    align-items: flex-start;
  }
  
  .caracteristicas > div {
    width: 80px;
    text-align: center;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 5px;
    position: relative;
  }
  
  .caracteristicas > div:first-child {
    margin-right: 30px;
  }
  
  .numero {
    color: #B07DFB;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
  }
  
  .rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    color: #B07DFB;
    padding: 5px 0;
    position: relative;
    top: 2px;
  }
  
  .caracteristicas span {
    display: block;
  }
  
  /* DESTAQUE */
  
  .destaque {
    font-size: 0.875em;
    color: #B07DFB;
    max-width: 16em;
  }
  
  .citacao, .atributos {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #59252E, #884953);
  }
  
  .citacao p {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
  }
  
  .atributos li {
    color: white;
    font-family: Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
  }
  
  .atributos li + li {
    border-top: 2px solid #AF7BFB;
  }
  
  .footer p {
    color: white;
    text-align: center;
    padding: 30px;
  }
  
  /* Animação */
  
  





  
  form {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #59252E;
    border: 2px solid #ffffff;
    padding: 15px;
    margin: auto;
    margin-left: 70px ;
    width: 600px;
    height: 250px;
    box-shadow: 5px 10px #F2911B;
    position: absolute;
    transform: translate(-50%, );
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}



label {
    /*nome do formulario*/
    display: block;
    margin-bottom: 10px;
    /*margem em baixo*/

}

input[type=text],
/*separador é a virgula*/
input[type=email] {
    width: 550px;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    /*borda do canto*/
    border-radius: 20px;
}

select {
    width: 150px;
    /*sugestão etc*/
    padding: 10px;
    border-radius: 20px;
}

input[type=submit] {
    display: block;
    margin-top: 100px;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 20px;

}

.esqueci {
  display: block;
  padding: 5px;
  font-size: 1.125em;
  background: transparent;
  border: 2px solid #eef21b;
  color: #ffffff;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
  margin: 20px;
  margin-left: 450px;
}
  
.esqueci:hover {
  BOX-shadow: 0 0 15px #eef21b, inset 0 0 15px #eef21b;
  text-shadow: 0 0 15px #eef21b;
}
  